body{
    margin: 0px;
    padding: 0px;
}
/* header styling here */
#header{
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    display: flex;
 
}
.navbar{
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.logo{
    width: 4%;
    height: 80px;
    background-color: rgb(31, 31, 31);
}
.logo img{
    margin-top: 8px;
}
.navlinks{
    width: 75%;
    height: 80px;
    background-color:rgb(255, 231, 239);
    position: relative;
}
div > ul{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   margin-top: 20px;
   margin-left: 40px;
}
.navlinks ul li{
    display: inline;
    margin-right: 20px;
}
.navlinks ul li a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
.mail {
    display: flex;
    align-items: center;
    background-color:rgb(158, 69, 57);
    padding: 15px;
    width: 25%;
    position: relative;
  }

  .text {
    flex-grow: 1;

  }
  
  .text h6 {
    margin: 0;
    font-size: 10px;
    text-align: right;
    padding-right: 15px;
    color:rgb(255, 255, 255);
  }
  
  .text p {
    margin: 5px 0 0;
    text-align: right;
    padding-right: 15px;
    color: rgb(255, 255, 255);
  }
  
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:  rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 3px;
  }
  
  .circle img {
    width: 23px;
    height: 23px;
    object-fit: cover;
  }
  

/* Hero-Section styling here */
#hero-section{
    width: 100%;
    height: 670px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.scroll{
    width: 4%;
    height: 610px;
    display: flex;
    align-items: center;
    background-color: rgb(31, 31, 31);
}
.bar i{
    color: #fff;
    padding-left: 10px;
}
.intro{
    width: 71%;
    height: 610px;
    position: relative;
    background-color:rgb(255, 231, 239);
}
.self-intro{
   display: flex;
   justify-content: center;
    font-size: 60px;
}  
h1::first-line{
    font-weight: 600;
    font-family: sans-serif;
}
.name{
    float: left;
    padding-left: 180px;
    font-style: italic;
}
.arrow{
    width: 26%;
    height: 610px;
    position: relative;
    background-color: rgb(158, 69, 57);
}
.social-links{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(158, 69, 57);
    padding: 10px;
    width: 100%;
    height: 80px;
    text-align: center;
}
.image{
}
/* About me section styling here */
#about-me{
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 550px;
    display: flex;
    background-color: rgb(31, 31, 31);
}
.about{
    width: 50%;
    height: 550px;
   
}
.about > h2{
    text-align: center;
    padding-top: 70px;
    font-size: 35px;
    color: #ffffff;
    font-family: sans-serif;
}
hr{
    width: 50px;
    color: #f6b25a;
}
h2 > span{
    color: #f6b25a;
}
.about-text{
    width: 50%;
    height: 550px;
    /* background-color: rgb(14, 200, 126); */
}
.para{
    text-align: left;
}
.para > h3{
    padding-top: 70px;
    padding-left: 30px;
    font-size: 23px;
    font-family: sans-serif;
    color: #ffffff;
    line-height: 30px;
}
h3 ~ span{
    font-family: 'Times New Roman', Times, serif;
}
h3 + p{
    padding-left: 30px;
    color: #898989;
    font-family: sans-serif;
    line-height: 22px;
    font-size: 13px;
}
.skills{
    width: 60%;
    height: 100px;
    display: flex;
    background-color: #f6b25a;
    justify-content: space-evenly;
    margin-left: 2rem;
   
}
.HTML{
    width: 13%;
    height: 60px;
    border-radius: 10px;
    background-color: #2c2c2c;
}
.fa-html5 {
    width: 40px;
}
.CSS{
    width: 13%;
    height: 60px;
    border-radius: 10px;
    background-color: #2c2c2c;
}
.pinterest{
    width: 13%;
    height: 60px;
    border-radius: 10px;
    background-color: #2c2c2c;
}
.GitHub{
    width: 13%;
    height: 60px;
    border-radius: 10px;
    background-color: #2c2c2c;
}
.LinkedIn{
    width: 13%;
    height: 60px;
    border-radius: 10px;
    background-color: #2c2c2c;
}
/* My expertise section styling here */
#my-expertise{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 550px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.expertise-dev{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.expertise{
    width: 50%;
    height: 200px;
}
.line{
    width: 50%;
    height: 200px;
}
.cards{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-1{
    width: 20%;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
}
.card-3{
    width: 20%;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(155, 76, 76);
}
.card-3{
    width: 20%;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
}

