body{
    margin: 0px;
    padding: 0px;
}
/* header styling here */
#header{
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
}
.navbar{
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.logo{
    width: 50px;
    height: 80px;
    background-color: rgb(31, 31, 31);
}
.logo img{
    margin-top: 8px;
}
.navlinks{
    width: 950px;
    height: 80px;
    background-color:rgb(255, 231, 239);
}
div > ul{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   margin-top: 20px;
   margin-left: 40px;
}
.navlinks ul li{
    display: inline;
    margin-right: 20px;
}
.navlinks ul li a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
.mail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(158, 69, 57);
    padding: 15px;
    width: 320px;
    
  }

  .text {
    flex-grow: 1;

  }
  
  .text h6 {
    margin: 0;
    font-size: 10px;
    text-align: right;
    padding-right: 15px;
    color:rgb(255, 255, 255);
  }
  
  .text p {
    margin: 5px 0 0;
    text-align: right;
    padding-right: 15px;
    color: rgb(255, 255, 255);
  }
  
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:  rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 3px;
  }
  
  .circle img {
    width: 23px;
    height: 23px;
    object-fit: cover;
  }
  

/* Hero-Section styling here */
#hero-section{
    width: 100%;
    height: 670px;
    margin: 0px;
    padding: 0px;
    display: flex;
    position: relative;
}
.scroll{
    width: 50px;
    height: 610px;
    background-color: rgb(31, 31, 31);
}
.intro{
    width: 950px;
    height: 610px;
    background-color:rgb(255, 231, 239);
}
.self-intro{
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}

  
h1::first-line{
   
    font-weight: 600;
    font-family: sans-serif;
}
.arrow{
    width: 350px;
    height: 610px;
    background-color: rgb(158, 69, 57);
}
.social-links{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(158, 69, 57);
    padding: 10px;
    width: 100%;
    height: 80px;
    text-align: center;
}
